<h1 class='title'>Welcome to Blog-Haven</h1>
<div class= "container">
<% if @user %>
    <div class='user'>
      <div class='avatar'>
        <%= image_tag(@user.photo) %>
      </div>
    <div><h2><%= @user.name %></h2></div>
    <div><p>Number of Posts: <%= @user.posts_counter %></p></div>
    </div>
    <div class='user-info'>
      <div><h2>Bio</h2></div>
      <div><p><%= @user.bio %>
      </div>
  
<div class="recent-posts">
  <% if @user.most_recent_posts.any? %>
    <% @user.most_recent_posts.each do |post| %>
        <div class='recent-post'>
          <h3><%= link_to post.title, user_post_path(@user, post), class: 'post-title' %> Post</h3>
          <p><%= post.text %>
          <div class='like-comments'>
            <p>Comments: <%= post.comments_counter || 0 %></p>
            <p>Likes: <%= post.likes_counter || 0 %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="user_empty-message">No posts yet.</p>
  <% end %>
<% else %>
  <p class='user_empty-message'>User not found.</p>
<% end %>
<button type="button" class="custom-button"><%= link_to 'See all posts', user_posts_path(@user) %></button>
