<h1>All posts</h1>
<% @posts.each do |post| %>
  <div class="post">
    <h2 class="post-title"><%= link_to post.title, user_post_path(@user, post), class: 'post-title' %></h2>
    <p class="post-text"><%= post.text %></p>
    <div class="post-info">
      <div class="post-likes">
              <strong>Comments:</strong> <span class="rate"><%= post.comments_counter %></span>      
              <strong>Likes:</strong> <span class="rate"><%= post.likes_counter %></span>
        </div>
    </div>
  </div>
  <ul>
      <% post.most_recent_comments.each do |comment| %>
      <li>
      <%= comment.author.name%>: <%= comment.text%>
      </li>
      <% end %>
    </ul>
<% end %>
    
   
  
