<h1>All posts</h1>
<div class='container'>
  <div>
    <div class='avatar'>
      <%= image_tag(@user.photo) %>
    </div>
    <div><h2><%= @user.name %></h2></div>
    <div><p> Number of Posts: <%= @user.posts_counter %></p> 
    </div>
  </div>

 <h2 class="new-post"><%= link_to 'Add new post', new_user_post_path(@user), class: 'new-post' %></h2> 

<% @posts.each do |post| %>
  <div class="post">
    <h2 class="post-title"><%= link_to post.title, user_post_path(@user, post) %></h2>
    <p class="post-text"><%= post.text %></p>
    <div class="post-info">
      <div class="post-likes">
        <strong>Comments:</strong> <span class="rate"><%= post.comments_counter %></span>      
        <strong>Likes:</strong> <span class="rate"><%= post.likes_counter %></span>
      </div>

      <div class='comments'>
        <% post.most_recent_comments.each do |comment| %>
          <div><%= comment.author.name%>: <%= comment.text%></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
    